html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.margin-2px {
  margin: 2px;
}

.border-1px {
  border: 1px;
  border-color: lightgrey;
}

.padding-2px {
  padding: 2px;
}

.padding-4px {
  padding: 4px;
}

.padding-8px {
  padding: 8px;
}

.padding-16px {
  padding: 16px;
}

.RQ-button-margin {
  margin: 8px;
}

.RQ-button-style {
  padding: 12px;
  border-radius: 10px;
  color: white;
  background-color: blueviolet;
  font-weight: bold;
  text-transform: uppercase;
}

.RQ-button-style:hover {
  /* color: blueviolet; */
  background-color: white;
}
